# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.venv/
*.egg-info/
dist/
build/
.eggs/

# DB / data
*.db
*.sqlite3
postgres_data/

# Logs
*.log

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/
